* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --brand-pink: #ef4565;
  --brand-blue: #094067;
  --brand-light-blue: #d8eefe;
  --brand-white: #fffffe;
  --gray-paragraph: #495057;
  --header-height: 7.2rem;
  --light-background: #f7f9f9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  color: var(--gray-paragraph);
  line-height: 150%;
  overflow: overlay;
  background-color: var(--light-background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 37.5rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  margin-inline: auto;
}

.cta {
  border: none;
  background-color: var(--brand-pink);
  padding: 1.6rem 3.2rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;
  width: 23rem;
  margin-inline: auto;
}

/*HEADER*/

#header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

#header nav {
  display: flex;
}

nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*=============CHANGING THE HEADER ON SCROLL============ */
#header.scroll {
  background-color: var(--brand-pink);
}

#header.scroll .logo path {
  fill: #fff;
}

#header.scroll .hamburger-menu path {
  stroke: #fff;
}

/*=============MENU EXPANDED============ */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: calc(6rem + var(--header-height));
  width: 100%;
  height: 100vh;
  background-color: var(--brand-pink);
  z-index: -1;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}

.menu .nav-links a {
  color: var(--brand-white);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu .nav-links li {
  margin-bottom: 4.8rem;
}

.menu .cta {
  background: #fff;
  color: var(--brand-pink);
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.menu .social-links {
  margin-top: 8rem;
}

.social-links {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.menu .social-links a {
  display: inline-block;
}

.close-menu,
body.menu-expanded .open-menu {
  display: none;
}

body.menu-expanded .close-menu {
  display: block;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(#header) {
  visibility: hidden;
}

body.menu-expanded .logo path {
  fill: #fff;
}

body.menu-expanded .menu {
  opacity: 1;
  visibility: visible;
  transition: transform 300ms;
  transform: translateY(0%);
}

/*MAIN*/
.img-wrapper {
  margin-top: 4rem;
}

.img-wrapper img {
  max-width: 100%;
  display: block;
  margin-inline: auto;
}

.hero,
.section {
  text-align: center;
}

/*HERO SECTION*/

.hero {
  padding-top: calc(4rem + var(--header-height));
}

.hero::before {
  content: '';
  width: 100%;
  height: calc(102rem + var(--header-height));
  background-color: var(--brand-light-blue);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-title {
  font-size: 3.4rem;
  line-height: 4.4rem;
  color: var(--brand-blue);
  margin-bottom: 2.4rem;
}

.hero-subtitle {
  color: var(--brand-pink);
  font-weight: 700;
  font-size: 1.4rem;  
  letter-spacing: 0.08rem;
  margin-bottom: 1.6rem;
}

.hero-description {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

.stats {
  background-color: var(--brand-white);
  border-radius: 0.6rem;
  border: 1px solid var(--brand-light-blue);
  padding: 4rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.stat .text-highlight {
  color: var(--brand-blue);
  font-size: 4.8rem;
  line-height: 6.2rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.stat p {
  color: var(--brand-pink);  
}

/*SECTIONS*/

.section {
  padding-block: 10rem;
}

.section-title {
  color: var(--brand-pink);
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;  
  letter-spacing: 0.08rem;
  margin-bottom: 1.6rem;
}

.section-subtitle {
  color: var(--brand-blue);
  font-size: 3rem;
  line-height: 3.9rem;
  font-weight: 700;
}

/*SECTION: SERVICES*/

#services header {
  margin-bottom: 6rem;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: left;
}

.service-item {
  background-color: #fff;
  border: 1px solid var(--brand-light-blue);
  border-radius: 0.6rem;
  padding: 2.4rem;
}

.service-title {
  margin-block: 1.6rem;
  color: var(--brand-blue);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

/*SECTION: ABOUT */

#about {
  background-color: var(--brand-white);
}

#about header {
  margin-bottom: 2.4rem;
}

#about .content p + p {
  margin-top: 1.2rem;
}

#about,
#contact {
  text-align: left;
}

#about img,
#contact img {
  border-radius: 10px;
}

/*SECTION: CONTACT */

#contact header {
  margin-bottom: 3.2rem;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contact-info + .contact-info {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
#contact .img-wrapper {
  margin-top: 6rem;
}

#contact .cta {
  margin-left: 0;
}

/*FOOTER */

footer {
  background-color: var(--brand-pink);
  padding-block: 6rem;
}

footer p {
  color: #fff;
}

.footer-logo {
  margin-bottom: 2.4rem;
}

footer .social-links {
  justify-content: start;
  margin-top: 3.2rem;
}

footer p + p {
  margin-top: 1.2rem;
}
